{% load static %}
{% load i18n %}

<nav class="branding-nav">
  <div class="branding-nav-brand">
    <div class="d-flex align-items-center">
        <a href="{% url 'login' %}" aria-label="JDash">
        <img src="{% static 'icons/logo.png' %}" height="75" alt="JDash">
      </a>
    </div>
    <div id="title-div">
      <a href="{% url 'login' %}">
        <h1 id="title">JDash</h1>
      </a>
      <h6 id="subtitle">
        <span>{% trans "header_filler" %} </span>
        <a href="https://www.fz-juelich.de/en/inm/inm-7/research-groups/biomarker-development" rel="noreferrer" target="_blank">
          {% trans "header_group" %}
        </a>
      </h6>
    </div>
  </div>
  
  <div class="branding-nav-links">
    <a href="{% url 'delete_subject_data' %}">{% trans "footer_contactdelbtn" %}</a>
    <a href="{% url 'contact_email' %}" >{% trans "footer_contacthead" %}</a>
    <!-- <a href="{% url 'contact_email' %}">{% trans "footer_contactbtn" %}</a> -->
    <a href="https://jtrack.readthedocs.io/en/latest/JTrack_Dashboard.html" rel="noreferrer" target="_blank">{% trans "Documentation" %}</a>
    <a href="https://github.com/Biomarker-Development-at-INM7/JTrack-dashboard" rel="noreferrer" target="_blank">{% trans "Git Repository" %}</a>
    <div class="branding-language-switcher">
      <a href="#" class="jdash-language-button language-link" data-language="en">
        <img src="{% static 'icons/flag-en.png' %}" alt="{% trans 'English' %}" height="24">
      </a>
      <a href="#" class="jdash-language-button language-link" data-language="de">
        <img src="{% static 'icons/flag-de.png' %}" alt="{% trans 'Deutsch' %}" height="24">
      </a>
    </div>
  </div>
</nav>

