{% load static %}
{% load i18n %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Write to us</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{%url 'contact_email' %}" method="POST" >
            {% csrf_token %}
            <div class="modal-body">

                <!-- Name input -->
                <div class="form-outline mb-4">{{contact_form.fullname}}

                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">{{contact_form.email}}

                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">{{contact_form.message}}
                </div>

                <!-- Checkbox
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                  <label class="form-check-label" for="form4Example4">
                    Send me a copy of this message
                  </label>
                </div>-->
            </div>
            <div class="modal-footer">
                <input name="contact_message" type="submit"  value="Send Message" role="button" class="btn btn-primary"  >
            </div>
        </form>
      </div>
    
    </div>
  </div>

<footer id="footer-div" class="footer-section">
    <div class="container-fluid">
        <div class="footer-shell">
            <div class="footer-top row g-4 align-items-stretch">
                <div class="col-lg-6">
                    <div class="footer-lead">
                        <a class="footer_link footer-brand-link"
                           href="https://www.fz-juelich.de/en/inm/inm-7/research-groups/biomarker-development"
                           rel="noreferrer" target="_blank">
                            <h2 class="footer-brand-title">{% trans "footer_groupname" %}</h2>
                        </a>
                        <p class="footer-brand-copy">{% trans "footer_groupdesc" %}</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="footer-app-grid">
                        <div class="footer-app-card">
                            <img class="footer-app-thumb" src="{% static 'icons/jtrack-ema.jpeg' %}" alt="JTrack EMA" />
                            <div class="footer-app-body">
                                <div class="footer-app-title">JTrack EMA</div>
                                <div class="footer-app-links">
                                    <a href="https://apps.apple.com/de/app/jtrack-ema/id1605100657" target="_blank" rel="noreferrer">
                                        <img src="http://upload.wikimedia.org/wikipedia/commons/0/0f/Available_on_the_App_Store_%28black%29_SVG.svg" alt="Download JTrack EMA on the App Store" />
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=inm7.JTrack.JTrack_EMA_Plus" target="_blank" rel="noreferrer">
                                        <img src="https://gallery.mailchimp.com/b88b3ba75f26335343bfecdc0/images/5e301e76-08a9-459e-ad1a-b9eab2f28c0c.png" alt="Get JTrack EMA on Google Play" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-app-card">
                            <img class="footer-app-thumb" src="{% static 'icons/jtrack-social.jpeg' %}" alt="JTrack Social" />
                            <div class="footer-app-body">
                                <div class="footer-app-title">JTrack Social</div>
                                <div class="footer-app-links">
                                    <a href="https://apps.apple.com/de/app/jtrack-social/id1645319896" target="_blank" rel="noreferrer">
                                        <img src="http://upload.wikimedia.org/wikipedia/commons/0/0f/Available_on_the_App_Store_%28black%29_SVG.svg" alt="Download JTrack Social on the App Store" />
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=inm7.JTrack.JTrack_Social" target="_blank" rel="noreferrer">
                                        <img src="https://gallery.mailchimp.com/b88b3ba75f26335343bfecdc0/images/5e301e76-08a9-459e-ad1a-b9eab2f28c0c.png" alt="Get JTrack Social on Google Play" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-divider"></div>

            <div class="footer-content">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>{% trans "footer_contacthead" %}</h3>
                            </div>
                            <div class="footer-text footer-support-copy">
                                <div class="footer-support-inline">
                                    <span>{% trans "footer_contactdesc" %}</span>
                                    <a type="button" href="{% url 'contact_email' %}" class="btn btn-outline-light btn-sm">{% trans "footer_contactbtn" %}</a>
                                </div>
                                <p class="footer-support-delete">
                                    {% trans "footer_contactdel" %}
                                    <a href="{% url 'delete_subject_data' %}">{% trans "footer_contactdelbtn" %}</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>{% trans "Mail us" %}</h3>
                            </div>
                            <div class="footer-contact-list">
                                <a class="footer_link footer-contact-item" href="mailto:j.dukart@fz-juelich.de" itemprop="email">
                                    <i class="fa fa-user"></i>
                                    <span>Dr. Juergen Dukart</span>
                                </a>
                                <a class="footer_link footer-contact-item" href="mailto:m.turna@fz-juelich.de" itemprop="email">
                                    <i class="fa fa-user"></i>
                                    <span>Dr. Mehran Turna</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Resources</h3>
                            </div>
                            <div class="footer-text">
                                <a class="footer_link"
                                   href="https://jtrack.readthedocs.io/en/latest/JTrack_Dashboard.html"
                                   rel="noreferrer"
                                   target="_blank">
                                    JTrack Dashboard Documentation
                                </a>
                            </div>
                            <div class="footer-org-logos">
                                <a href="https://www.fz-juelich.de/en/inm/inm-7/" target="_blank" rel="noreferrer">
                                    <img src="{% static 'icons/bb-icon.png' %}" alt="INM-7 Biomarker Development">
                                </a>
                                <a href="https://www.fz-juelich.de/" target="_blank" rel="noreferrer">
                                    <img src="{% static 'icons/fz-icon.png' %}" alt="Forschungszentrum Juelich">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row copyright-text text-center">
                    <p>{% trans "footer_copyright" %}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

