{% extends 'login_base.html' %}
{% load i18n %}

{% block content %}
<div class="login-page-shell">
  <div class="contact-card-wrap">
    <div class="card shadow contact-card">
      <div class="card-body text-center">
        <div class="contact-card-header">
          <h1>{% trans "password_reset_done_title" %}</h1>
          <p>{% trans "password_reset_done_desc" %}</p>
        </div>
        <a class="btn btn-primary" href="{% url 'login' %}">{% trans "password_reset_back_login_btn" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

