
.container{
  padding: 10px 30px 10px 30px;
}

.container-fluid {
  padding: 10px 30px 10px 30px;
}
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: rgb(224, 102, 36);
    border-radius: 0 4px 0 32px;
  }
  
  
  .datcard {
    height: 10em;
        color: white;
      display: block;
      font-family: sans-serif;
      position: relative;
      background-color: rgb(3, 36, 77);
      border-radius: 4px;
      padding: 1em;
      z-index: 0;
      overflow: hidden;
      text-decoration: none !important;
  }
  
  .datcard:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: rgb(224, 102, 36);
    height: 1em;
      width: 1em;
    border-radius: 100%;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .datcard:hover:before {
    transform: scale(45);
  }
  
  .datcard:hover p {
    transition: all 0.3s ease-out;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
  }
  
  .cardImg {
    background-color: #03244d;
    color: #03244d;
  }
  
  .cardIcon {
    color: #03244d;
  }
  
  .background-color {
    color: rgba(3, 36, 77, 0.1);
  }
  
  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }
  .grid {
    background-color: #ffffff;
    border-radius: 10px 10px / 0px 0px;
    margin-bottom: 20px;
  }
  
  #pageHeader {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .gridHeader {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .gridHeaderTxt {
    color: #000000;
    padding: 10px 0px;
  }
  
  .gridRow {
    padding-bottom: 25px;
  }
  
  .cardImg {
    background-color: #f4f4ff;
    color: #65377b;
    padding: 25px;
  }
  
  .link {
    color: #727375;
    padding: 17px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  .link100 {
    color: #727375;
    padding: 17px 0px;
    width: 100% !important;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  .link:hover {
    background-color: #f1f1f1;
    color: #03244d;
    transition: background 0.5s ease;
  }
  
  .link100:hover {
    background-color: #f4f4ff;
    color: #000000;
    transition: background 0.5s ease;
  }
  
  .card-action-bar {
    display: flex;
    border-top: 1px solid #e0e0e0;
    width: 100%;
  }
  
  .center {
    text-align: center;
  }
  
  .wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
    background: #fff;
    box-shadow: 0 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .wrimagecard .far {
    position: relative;
    font-size: 70px;
  }
  
  .wrimagecard .fas {
    position: relative;
    font-size: 70px;
  }
  
  .wrimagecard-topimage_header {
    background-color: rgba(3, 36, 77, 0.1);
    padding: 20px;
  }
  
  a.wrimagecard:hover,
  .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  }
  
  .wrimagecard-topimage a {
    height: 100%;
    display: block;
  }
  
  .wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
  }
  
  .wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
  }
  
  .h-140 {
    height: 140px !important;
  }
  
  #navBtns {
    width: 100%;
  }
  
  /*modal */
  .modalHeader {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    width: 100%;
    text-align: center;
  }
  
  .closeModalLink100 {
    color: #727375;
    padding: 17px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  .closeModalLink100:hover {
    background-color: #fff0d9;
    color: #03244d;
    transition: background 0.5s ease;
  }
  
  .modal-body {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  
  .modalFooter {
    display: flex;
    border-top: 1px solid #e0e0e0;
    width: 100%;
  }
  
  .bg-g {
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
      .app {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: repeat(auto-fit, minmax(10em,1fr));
          justify-items: center;
      }
  
      .display-4 {
          font-size: 1.5rem;
      }
  
      .card.tile {
          height: 10em;
          width: 10.75em;
          text-align: center;
      }
  
          .card.tile:hover {
              box-shadow: 0 0 1rem 0 #00000040;
              transform: scale(1.05);
          }
  
  
      .bg-secondary-orange {
          background-color: #f68026;
      }
  
      .top {
          display: flex;
          justify-content: space-between;
      }
  
      .topper {
          padding: 0;
          height: .5rem;
      }
  
      a {
          text-decoration: none !important;
      }
  
          a.btn.btn-info.btn-sm {
              justify-content: center;
          }
  
      .top {
          align-items: baseline;
      }
  
  span.fa-3x.mb-auto.mt-auto {
      color: black;
  }

#title-div {
    float: left;
}
#title {
  color: #005B82;
  font-weight: bold;
  font-size: 2.3em;
}
#subtitle {
  margin-top: -4px;
  padding-left: 8px;
  color: #005B82;
}
#footer-div{
  box-shadow: -2px -5px 5px rgb(0 0 0 / 20%);
    background-color: #005B82;
    color: #f1f1f1;
  /*  padding: 16px;*/
    bottom: 0;
    position: relative;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.form-outline.required .control-label:after {
  content:"*";
  color:red;
}



.hiddenRow {
  padding: 0 4px !important;
  
  font-size: 13px;
  }

.accordian-body span{
  color:#1f1c1c !important;
  }

  tr.group,
  tr.group:hover {
      background-color: #ddd !important;
  }

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(14, 13, 13, 0.4);
    border-radius: 3px;
    transition: 0.2s
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(53, 52, 52, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}

.mt-100 {
    margin-top: 100px
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#labelling{
  list-style-type: none;

}


ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline-block;
  padding-right: 4%;
  width: auto;
  margin-right: 0.25%;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}


.image--cover {
  width: 65px;
  height: 95px;
  border-radius: 10%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}


a.footer_link{
  color:#fff;
}
a.footer_link:hover{
  color:#adbde3;
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.info {display:inline-block;
  color:#E83188;
  border-radius:50%;
  border:solid 3px #E83188;
  width:20px;height:20px;}

.jbutton{
  background: #005B82;
  color:#fff;
}

.table .table-hover>tbody>tr.no-hover:hover {
  --bs-table-hover-bg: #ffffff;
}
.today-sensor  {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #4beb6b; -webkit-box-shadow: 0 0 3px #4beb6b; }
    50% { background-color: #4beb6b; -webkit-box-shadow: 0 0 4px #4beb6b; }
    100% { background-color: #4beb6b; -webkit-box-shadow: 0 0 3px #4beb6b; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #4beb6b; -moz-box-shadow: 0 0 3px #4beb6b; }
    50% { background-color: #4beb6b; -moz-box-shadow: 0 0 40px #4beb6b; }
    100% { background-color: #4beb6b; -moz-box-shadow: 0 0 3px #4beb6b; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #4beb6b; box-shadow: 0 0 3px #4beb6b; }
    50% { background-color: #4beb6b; box-shadow: 0 0 40px #4beb6b; }
    100% { background-color: #4beb6b; box-shadow: 0 0 3px #4beb6b; }
  }
  
  @keyframes glowing {
    0% { background-color: #4beb6b; box-shadow: 0 0 3px #4beb6b; }
    50% { background-color: #4beb6b; box-shadow: 0 0 40px #4beb6b; }
    100% { background-color: #4beb6b; box-shadow: 0 0 3px #4beb6b; }
  }

.jumbotron.text-center {
    height: 17em;
}

input.form-control.col-md-6 {
    width: 50%;
    margin-right: 1em;
    display: inline;
}

div#notes {
    margin-top: 2%;
    width: 98%;
    margin-left: 1%;
}

@media (min-width: 991px) {
	.col-md-9.col-sm-12 {
    	margin-left: 12%;
	}
}

.messages li.error {
    color: red;
}
.messages li.success {
    color: green;
}

.maintenance {
  background-image: url(https://demo.wpbeaveraddons.com/wp-content/uploads/2018/02/main-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.maintenance {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.maintenance {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.maintenance_contain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;  
  padding: 15px;  
}
.maintenance_contain img {
  width: auto;
  max-width: 100%;
}


/* Layout the footer row */
.bootstrap-table .fixed-table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;   /* left = page-size, right = page numbers */
  flex-wrap: wrap;
  width: 100%;
  gap: .5rem;
  padding-top: .25rem;
}

/* Kill the plugin's floats */
.bootstrap-table .fixed-table-pagination .pagination,
.bootstrap-table .fixed-table-pagination .pagination-detail {
  float: none !important;
}

/* Keep sizes on the left */
.bootstrap-table .fixed-table-pagination .pagination-detail,
.bootstrap-table .fixed-table-pagination .page-list {
  margin: 0;          /* remove extra spacing */
}

/* Keep page numbers on the right */
.bootstrap-table .fixed-table-pagination .pagination {
  margin: 0 0 0 auto; /* push to the far right */
  display: flex;
  flex-wrap: wrap;
}
/* At 2048px and up, make each column 25% (i.e., 4 per row) */
@media (min-width: 2048px) {
  .col-2048-3 { flex: 0 0 auto; width: 25%; }
}
